<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="ANK 2016 - The Knowledge Fest by National Institute Of Technology Durgapur Maths N Tech Club">
	<meta name="keywords" content="MNTC,Ank 2K16" /> 
	<meta name="author" content="Maths n Tech Club"> 
	<title>ANK 2016! #LetTheFunBegin </title>	
	
	<!-- SOCIAL MEDIA META -->
	<meta property="og:title" content="ANK 2016 | The Knowledge Fest"/>
	<meta property="og:url" content="http://ank.mntc.in" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="MNTC NIT Durgapur presents ANK 2016 | The Knowledge Fest" />

	{% load staticfiles %}
	<!-- STYLE SHEETS-->
	<link rel="shortcut icon" href="{% static "images/ico/favicon.png" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.2.0/css/font-awesome.min.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/menu_cornerbox.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
  	</head>
  	<body>
  		<div class="preloader">
  			<div class="preloder-wrap">
  				<div class="preloder-inner"> 
  					<div class="ball"></div> 
  					<div class="ball"></div> 
  					<div class="ball"></div> 
  					<div class="ball"></div> 
  					<div class="ball"></div> 
  					<div class="ball"></div> 
  					<div class="ball"></div>
  				</div>
  			</div>
  		</div><!--/.preloader-->
  		<div class="container">
  			<div class="menu-wrap">
  				<nav class="menu">
  					<div class="profile"><img src="{% static "images/ico/favicon.png" %}" alt="Ank 2016"/><span>ANK 2K16</span></div>
  					<div class="icon-list">
  					<a href="/about"><i class="fa fa-fw fa-star-o"></i><span>About</span></a>
  						<a href="/events"><i class="fa fa-fw fa-bell-o"></i><span>Events</span></a>
  						<a href="/sponsors"><i class="fa fa-fw fa-envelope-o"></i><span>Sponsors</span></a>
  						<a href="/contact"><i class="fa fa-fw fa-comment-o"></i><span>Contact Us</span></a>
  					</div>
  				</nav>
  				<button class="close-button" id="close-button">Close Menu</button>
  			</div>
  			<button class="menu-button" id="open-button">Open Menu</button>
  			<div class="content-wrap">
  				<div class="content">
  					<section id="effect">
  						<div class="demo-1">
  							<div class="content">
  								<div id="main-background"></div>
  								<canvas id="main-canvas"></canvas>
  								<div id="large-header" class="large-header wow fadeIn" data-wow-duration="4000ms">
  									<img id="logo" src="{% static "images/logo.png" %}">
  									<a href="/login" id="register-button-link"><button id="register-button" >Register Now</button></a>
  									<!-- - - - - - - - - NAVIGATION - - - - - - - - -->
  								</div>
  							</div>
  						</div>
  					</section><!--/HOME-->	


  				</div>
  			</div><!-- /content-wrap -->
  		</div><!-- /container -->
  		<script src="{% static "js/jquery.js" %}"></script>
  		<script src="{% static "js/bootstrap.min.js" %}"></script>
  		<script src="{% static "js/preloader.js" %}"></script>
  		<script src="{% static "js/classie.js" %}"></script>
  		<script src="{% static "js/main.js" %}"></script>
  		<script src="{% static "js/three.min.js" %}" ></script>
  		<script src="{% static "js/Projector.js" %}" %}"></script>
  		<script src="{% static "js/CanvasRenderer.js" %}"></script>
  		<script src="{% static "js/index.js" %}"></script>

  	</body>
  	</html>
