
html, body {
    margin: 0;
    height: 100%;
}
 

body {
    overflow-x: hidden;
 }
h1{
padding:1em;
padding-bottom:3em;
color:#fff;
font-size:3em;
}

#image{
padding:2em;
padding-left:4em;
}

#about{
padding-top:3em;
padding-right:2em;
font-size:1.5em;
color:#fff;
}
